@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

.banner{
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1{
  color: white;
  font-size: 32px;
}

.banner p {
    color: white;
    opacity: .7;
    font-size: 20px;
}
